h1{
    color: rgb(209, 228, 238);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid rgb(0, 225, 255);
    border-radius: 10px;
    background-color: #11163e;
}
body{
    background-color: #c2e4ea;
}
input{
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    width: 80%;
    max-width: 600px;
    padding: 15px;
    border: none;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
}
button{
    position: fixed;
    bottom: 100px;
    right: 250px;
    width: 10%;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: #11163e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #d7dee4;
    cursor: pointer;
}